<h1>プログラムのオンライン実行環境</h1>
<hr>
<h2>プログラムの提出</h2>

<form action="./exec" method="post">
  実行するプログラム(C言語)
  <p>
    <textarea name="program" rows="30" cols="40"></textarea>
  </p>
  標準入力
  <p>
    <input type="text" name="stdinput">
  </p>
  <p>
    <input type="submit" value="実行">
  </p>
</form>

<hr>

<h2>実行結果</h2>
